html,body {
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
a{
    text-decoration: none;
    color: black;
}
.Title{
    font-size: 4.2vw;
    font-weight: bolder;
}
.remark{
    font-size: 3vw;
    color: #8f8f8f;
}

.gradeText{
    font-size: 3.2vw;
    color: #EE7E3A;
}